<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	해당 xml파일이 mapper역할을 하기 위해 반드시 필요한 Doctype 
	공식문서 URL: https://mybatis.org/mybatis-3/configuration.html
-->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!-- namespace에는 서비스객체 역할을 하는 interface의 풀 경로를 기술한다. -->
<mapper namespace="mybatis.IAndroidDAO">
	

  	<!-- 구간에 해당하는 게시물을 추출한다. -->
	<select id="memberList" resultType="mybatis.MemberVO" parameterType="mybatis.ParameterDTO">
		SELECT * FROM (
			SELECT Tb.*, rownum rNum FROM (
				SELECT * FROM member 
				<if test="searchTxt!=null">
					WHERE
					<foreach collection="searchTxt" item="str" open="(" close=")" separator="or">
						${searchField} like '%'||#{str}||'%'
					</foreach>
				</if>
				ORDER BY id DESC
			) Tb
		)
		WHERE rNum BETWEEN #{start} AND #{end}
	</select>
	
	<select id="view" resultType="mybatis.MemberVO" parameterType="mybatis.ParameterDTO">
		SELECT * FROM board WHERE num=#{num}
	</select>
	
</mapper>